$icon-font-path: '../fonts/';
@import "colors";
@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* My own style */

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */

header {
  width: 100%;
}

.headerBar1 {
  width: 100%;
  height: 30px;
  background-color: $logoBarColor;
  img {
    width: auto;
    height: 30px;
    padding-left: 15px;
  }
}

.headerBar2 {
  @extend .headerBar1;
  background-color: $menuBarColor; 
  height: auto;
}

.logoBar {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.logoBarSearch {
    float: right;
    color: white;
    padding: 5px 0;
}
.logoBarLogin {
  a {
    color: white;
  }
  float: right;
  padding: 0 10px;
  margin-left: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

nav {
  li {
  min-width: 106px;
  }
  @extend .logoBar;
  border: none;
  padding: 10px 0;
  a {
    margin-right: 20px;
    padding: 20px 0;

  }
}
.navbar {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  width: 100%;
}
.navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
  background-color: #d1d5d8;
  float: left;
}
.navbar-collapse {
  padding: 0;
}

/* Banner section */
#banner {
  img {
    width: 100%;
  }
  width: 100%;
  min-height: 200px;
  max-height: 406abpx;
}

/* Tabs section */
div#tabs {
    background-color: $lightGray;
    margin: 0 auto;
    text-align: center;
}
.nav-tabs {
  li {
    min-width: 152px;
  }
  max-width: 760px;
  margin: 0 auto;
  width: auto;
  text-align: center;
  border-bottom: 1px solid transparent;
}
span.tabsUndertext {
    font-size: 75%;
}
.underTabs{
  min-height: 242px;
  background-color: $darkGray;
}
.TabImages {
  img {
    padding: 5px 38px;
  }
  max-width: 760px;
  margin: 0 auto;
  width: auto;
  text-align: center;
  padding: 25px 0;
}

/* Items */

#items {
  min-height: 600px;
  background-color: $itemsBGcolor;
}

.Products {
  h4 {
    padding-left: 15px;
    text-align: left;
  }
  img {
    padding-bottom: 10px;
  }
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}
.ProductsInfo {
  div {
    p:first-child {
      padding-top: 30px;
    }
    p:last-child {
      padding-bottom: 20px;
    }
    background-color: #DFDBD4;
  }
  max-width: 960px;
  margin: 50px auto;
  padding-top: 20px;
  border-top: 1px solid gray;
}

/* Footer */
footer {
  .footer1 {
    .widgets {
      max-width: 960px;
      margin: 0 auto;
      padding-top: 50px;
    }
    max-width: 1400px;
    margin: 0 auto;
    min-height: 250px;
    background-color: $darkGray;
  }
  .footer2 {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
  }
  min-height: 350px;
  color: #fff;
  background-color: $lightGray;
}


/* Media Queries */
@media all and (max-width: 991px){
  .newArrivals {
    h4 {
      text-align: center;
    }
  }
}